body{
    background-image: url(../fondo.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position-x: center;
    background-position-y: center;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 52px;
    text-align: center;
}

h2{
    text-align: center;
    background-color: black;
    color: white;
    font-weight: normal;
}

.ordenada{
    font-weight: bold;
}

.desordenada{
    background-color: red;
    color: white;
    text-align: center;
    text-decoration: underline;
}
