*{
    box-sizing: border-box;
}

/*Estrategia desktop-first*/

.container{
    background-color: gray;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container article{
    width: 30%;
}

.primero{
    background-color: rgb(30, 221, 30);
}

.segundo{
    background-color: rgb(232, 71, 71);
}

.tercero{
    background-color: rgb(56, 56, 224);
}

@media(max-width:768px){
    .container{
        flex-direction: column;
    }
    .container article{
        width: 100%;
    }
}