*{
    box-sizing: border-box;
}


body{
    background-color: rgb(248, 148, 148);
}

p{
    color: rgb(21, 33, 104);
}

h3{
    color: rgb(225, 229, 233);
}

.primero{
    color: rgb(4, 241, 241);
}

.product-container{
    background-color: darkcyan;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.product-container article{
    background-color: beige;
    border: 1px solid rgb(21, 33, 104);
    width: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}

.product-container article h3{
    color: blueviolet;
    width: 70%;
}

.product-container article p{
    width: 70%;
}